@import "_variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tu-jif4 {
    .body {
    }

    .h1 {
      @apply text-8xl;
    }

    .h2 {
      @apply text-6xl;
    }

    .h3 {
      @apply text-4xl;
    }

    .h4 {
      @apply text-2xl;
    }

    .h5 {
      @apply text-xl;
    }

    .h6 {
      @apply text-lg;
    }

    .main {
      @apply lg:w-[900px] m-auto;
    }

    .a {
      @apply text-blue-600 hover:text-blue-800 visited:text-purple-600 no-underline;
    }

    footer {
      @apply text-left h-[80px] text-white mt-20;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  svg {
    display: inline;
  }
}

@layer components {
  .tu-jif4 {
    .main-content {
      & {
        @apply relative w-full text-black top-16;
      }

      & .table-wrapper {
        & {
          @apply bg-white mt-7 p-10 xs:w-full md:w-[80%] flex justify-center

        }

        & table {
          @apply w-full overflow-auto xs:block xl:table
        }
        
      }

      & .transaction-card {
        & {
          @apply w-full flex justify-center;
        }

        & .transaction-content {
          & {
            @apply bg-white mt-7 p-4 xs:w-full lg:w-[50%] flex justify-end;
          }

          button {
            @apply bg-[#000080] text-white pt-3 pb-3 px-5 rounded-xl shadow-black shadow-md;
          }
        }
      }

      & .wallet-card {
        & {
          @apply w-full flex justify-center;
        }

        & .wallet-content {
          @apply bg-white mt-7 p-10 xs:w-full md:w-[50%] flex justify-between;
        }
      }
    }

    .payment-card-section {
      & {
        @apply xs:w-full sm:w-[50%] m-auto justify-center flex flex-wrap mt-10;
      }
    }

    .payment-card-wrapper {
      & {
        @apply bg-white pt-10 pb-7 m-1 flex flex-col justify-center items-center;
      }
    }

    .payment-card-wrapper-form {
      & {
        @apply bg-white pt-8 pb-8 m-1 flex flex-col justify-center items-center;
      }

      & .currency-sign {
        @apply absolute pl-2 pt-2;
      }

      input {
        @apply pl-16 w-full text-6xl border-2 border-solid border-slate-300 rounded-lg bg-slate-300;
      }
    }

    nav {
      .nav-wrapper {
        & {
          @apply flex h-full xl:w-[1200px] m-auto;
        }

        & .main-menu-wrapper {
          & {
            @apply flex justify-center xs:gap-4 lg:gap-24 w-full;
          }

          & .menu-link {
            @apply flex items-center;
          }
        }

        & .logout-wrapper {
          @apply flex items-center;
        }

        & .logo-wrapper {
          @apply flex items-center hidden lg:block;
        }
      }

      & {
        @apply text-black fixed top-0 h-16 min-w-full  bg-white shadow-sm;
      }
    }
    .pay-button {
      & {
        @apply bg-[#000080] w-[40%] text-white rounded-lg;
      }
    }

    .disabled {
      @apply bg-slate-400 w-[40%] text-white rounded-lg;
    }
  }
}

@layer utilities {
  .tu-jif4 {
    .mart-5 {
      @apply mt-5;
    }
    .marb-5 {
      @apply mb-5;
    }

    .marb-8 {
      @apply mb-8;
    }

    .pad-5 {
      @apply p-5;
    }

    .padb-2 {
      @apply pb-2;
    }
  }
}
